*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    height: 100vh;
    position: relative;
}

#telefone{
    
    width: 190px;
    height: 417px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#box-tela{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#tela{
    width: 178px;
    height: 400px;
    
    
}

#sociais{
    position: absolute;
    text-align: right;
    padding-top: 150px;
    top: 0px;
    left: 90%;
}

#sociais img{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.767);
    margin: 10px;
    border-radius: 50px;
    width: 40px;
    /*box-sizing*/
   
}

#sociais img:hover{
    width: 50px;
    transition: width .5s;
}