*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    height: 100vh;
    position: relative;
}

#telefone{
    background-image: url('../imagens/frame-iphone.png');
    background-size: 250px;
    background-repeat: no-repeat;
    height: 500px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela{
    position: relative;
    top: 66px;
    left: 19px;
    width: 212px;
    height: 376px;
}

#sociais{
    text-align: right;
    padding-top: 150px;
}

#sociais img{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.767);
    margin: 10px;
    border-radius: 50px;
    width: 40px;
    /*box-sizing*/
   
}

#sociais img:hover{
    width: 50px;
    transition: width .5s;
}